@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-family: 'Poppins', system-ui, sans-serif;
  }

}

@layer components {

  .pink-btn {
    @apply bg-pink rounded-[20px] px-6 py-2 text-[white]
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.b-fixed-element-outer {
  position:relative;
  flex:1;
  height:100%;
  z-index:5
 }
 .b-fixed-element-outer.b-fixed-element-outer--right {
  display:flex;
  flex-direction:row-reverse
 }
 .b-fixed-element {
  /* position:absolute; */
  transition:margin .2s,transform .2s ease;
  display:flex;
  width:100%
 }
 .b-fixed-element.b-fixed-element-static {
  position:static
 }
 .b-fixed-element.b-fixed-element-move {
  position:fixed;
  width:-moz-fit-content;
  width:fit-content
 }
 .b-fixed-element.b-fixed-element-move--margin {
  margin-top:10px
 }